.new-principal-dialog {
  .modal-dialog-body:focus {
    outline: none;
  }

  .user-types-tree-grid {
    .toggle-and-item-wrapper {
      height: 40px;

      &:hover {
        background-color: @admin-bg-light-gray;
      }

      .viewer {
        .names-and-icon-view {
          .@{_COMMON_PREFIX}main-name {
            height: 36px;
            line-height: 36px;
          }

          .@{_COMMON_PREFIX}sub-name {
            display: none;
          }
        }
      }
    }
  }
}
