.password-generator {
  position: relative;

  .input-wrapper {
    position: relative;

    .password-input {
      padding-right: 60px;
      width: 100%;
      .input-font();
      .input-border();
      box-sizing: border-box;
    }

    .strength-meter {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 0;

      transition: width, .5s;
      transition: box-shadow, .5s;
    }
  }

  .toolbar-wrapper {
    display: flex;
  }

  .password-complexity {
    display: flex;
    align-items: center;

    .error-block {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
      margin: 1px;
    }
  }

  &:not(.weak):not(.good):not(.strong):not(.extreme) {

    .password-input {
      .input-glow();
    }
  }

  a {
    cursor: pointer;
    padding: 5px;
    display: inline-block;

    .notSelectable();

    &.show-link:after {
      content: attr(data-i18n);
    }
  }

  .generate-link {
    flex-grow: 1;
  }

  &:after {
    position: absolute;
    top: 2px;
    right: 5px;
    line-height: 26px;
  }

  &.unlocked {
    .password-input {
      -webkit-text-security: none;
    }
  }

  &.almostgood,
  &.good,
  &.notgood,
  &.bad,
  &.verybad {
    .password-input {
      box-shadow: none;
    }

    &:after {
      content: attr(data-i18n);
    }
  }

  .strength(@color) {
    .error-block {
      background-color: @color;
    }

    &:after {
      color: @color;
    }
  }

  &.good {
    .strength(@admin-level-1);
  }

  &.almostgood {
    .strength(@admin-level-2);
  }

  &.notgood {
    .strength(darken(@admin-level-2, 10%));
  }

  &.bad {
    .strength(@admin-level-3);
  }

  &.verybad {
    .strength(darken(@admin-level-3, 10%));
  }

  ._0-240 &,
  ._240-360 & {

    .password-input {
      padding: 0;
    }

    &:after {
      display: none;
    }
  }

}
