.public-keys-section {
  .help-text-block {
    color: @admin-font-gray1;
    font-style: italic;
    text-align: justify;
    font-size: 11px;
  }
}

.new-public-key-dialog {
  .form-input {
    width: 100%;
  }

  &-menu {
    &.menu-button:not(.transparent) {
      .action-button,
      .@{_COMMON_PREFIX}dropdown-handle {
        color: @admin-white;
        background-color: @admin-button-blue2;

        &:hover {
          background-color: @admin-button-blue2;

          &:not(.disabled) {
            background-color: @admin-button-blue1;
          }
        }
      }
    }
  }
}

.public-keys-grid {
  margin-bottom: 15px;

  .public-keys-grid-container {
    display: block;
    width: 100%;
    max-width: 600px;
    margin-top: 5px;
    font-size: 12px;

    .public-keys-grid-row {
      color: @admin-dark-gray;
      display: grid;
      grid-template-columns: 47% 20% 23% 10%;
      grid-template-rows: 100% auto;
      grid-row-gap: 7px;

      .public-keys-grid-header {
        font-weight: bold;

        &:last-child {
          text-align: center;
        }
      }

      .public-keys-grid-cell {
        .remove-public-key {
          text-decoration: none;
          display: block;
          text-align: center;
        }
      }
    }
  }
}

.show-public-key-dialog {
  textarea {
    width: 100%;
  }
}
