.reports {
  flex-direction: column;

  .reports-combo-and-button {
    display: grid;
    grid-template-columns: 300px 160px;
    grid-column-gap: 20px;

    .repository-combobox {
      .item-view-wrapper {
        &.selected {
          .viewer {
            .@{_COMMON_PREFIX}names-view {
              .@{_COMMON_PREFIX}main-name {
                color: @admin-white;
              }

              .@{_COMMON_PREFIX}sub-name {
                color: @admin-white;
              }
            }
          }
        }

        .repository-viewer {
          height: 40px;
          display: flex;
          align-items: center;
        }
      }

      .selected-options {
        .report-selected-option-view {
          height: auto;
          margin: 10px 0;
          padding-left: 0;
          padding-right: 0;
          width: 300px;

          .selected-option {
            height: auto;

            .option-value {
              margin: 0 0 3px 10px;
            }
          }

          .branch-dropdown {
            width: 60px;
            height: 20px;
            text-align: center;
          }
        }
      }
    }

    button {
      text-align: center;
    }
  }

  .report-progress-list {
    margin-top: 20px;
  }

  button.generate {
    vertical-align: top;
  }
}
