@font-face {
  font-family: 'icomoon';
  src:
    url('./fonts/icomoon.woff2') format('woff2'),
    url('./fonts/icomoon.woff') format('woff');
}

.icon {
  .icon-mixin('icomoon');
}

.icon-download {
  .icon();

  &::before {
    content: "\e9c7";
  }
}

.icon-close {
  .icon();

  &::before {
    content: "\e36b";
  }
}

.icon-system {
  .icon();

  position: relative;

  &::after {
    content: "\e1df";
    position: absolute;
  }

  &.icon-large::after {
    font-size: 12px;
    right: -6px;
    top: 0;
    line-height: 14px;
  }

  &.icon-xlarge::after {
    font-size: 18px;
    right: -15px;
    top: 0;
  }
}
